<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PostgreSQL.Properties.Settings.Fly_BookingConnectionString"
            connectionString="Host=localhost;Username=postgres;Password=gegyhegut619;Persist Security Info=True;Database=&quot;Fly Booking&quot;"
            providerName="Npgsql" />
        <add name="PostgreSQL.Properties.Settings.Hotel_BookingConnectionString"
            connectionString="Host=127.0.0.1;Database=&quot;Hotel Booking&quot;;Username=postgres;Password=gegyhegut619;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>